# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml